<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
        {{ share.load() }}
<div class="row">
<br>
<!-- Button -->
<div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4 center-block">
           <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block">
               Generator Peruntungan!
            </button>
        </div>  
     </div>
    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
        <br>
		<div class="panel panel-primary">
			<div class="panel-heading">Masukkan Tanggal, Bulan dan Tahun Kelahiranmu
			</div>
			<div class="panel-body">
				<form name="myform" action="{{ url_for('.base') }}" method="post">
					<div class="form-group">
						<label for="myName">Tanggal *</label>
						<input id="myName" name="tanggal" class="form-control" type="text" data-validation="required">
						<span id="error_name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="lastname">Bulan *</label>
						<input id="lastname" name="bulan" class="form-control" type="text" data-validation="email">
						<span id="error_lastname" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="age">Tahun *</label>
						<input id="age" name="tahun"  class="form-control" type="number" min="1" >
						<span id="error_age" class="text-danger"></span>
					</div>
					
					<button id="submit" type="submit" value="submit" class="btn btn-primary center">Submit</button>
			
                </form>
                {% if ok %}
                <i><h4> " {{hasil}} "</h4></i>    
                {{ share.create(title='Share with: ') }}
                {% else %}
                <i><h2> {{hasil}} </h2></i> 
                {% endif %}
			</div>
		</div>
	</div>
</div>
</body>